.nav {
    ul {
        list-style: none;
        display: inline;
        right: 0;
        margin: 0;
        padding: 0;
        position: absolute;

        li {
            display: inline-block;
            border-bottom: 1px solid #000;
            background-color: transparent;
            color: #000;
            text-align: center;

            &:nth-of-type(2) {
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }

            &:hover {
                background-color: #000;

                > a {
                    color: #fff;
                    text-decoration: underline;
                }
            }

            &.active {
                > a {
                    text-decoration: underline;
                }
            }
        }

        a {
            padding: 10px 10px;
            max-width: 90px;
            display: block;
            color: #000;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 375px) {
    .nav {
        a {
            padding: 10px 10px;
            width: 100px;
            max-width: auto;
        }
    }
}
